/* Important styles, these ensure proper display, should'nt be messed with */
#macro-hover-tip {
  position: fixed;
  z-index: 100000;
  display: grid;
  place-items: center;
  opacity: 0;
  user-select: none;
}

#macro-hover-tip.visible {
  opacity: 1;
  user-select: auto;
  transition: opacity .3s;
}

/* Cosmetic styling, can be changed without issues! */
.macro-hover.tip {
  cursor: help;
}

#macro-hover-tip {
  border: .15em solid;
  border-radius: .2em;
  background-color: #111;
  width: fit-content;
  padding-inline: .5em;
}

/* The small arrow */
#macro-hover-tip::before {
  content: '';
  height: .5em;
  width: .5em;
  display: block;
  background-color: inherit;
  border: inherit;
  position: absolute;
  border-left: none;
  border-top: none;
}

/* Orient the arrow properly based on tip direction */
#macro-hover-tip.over::before {display: none}
#macro-hover-tip.up::before {
  bottom: -.4em;
  rotate: 45deg;
}
#macro-hover-tip.down::before {
  top: -.4em;
  rotate: 225deg;
}
#macro-hover-tip.left::before {
  right: -.4em;
  rotate: 315deg;
}
#macro-hover-tip.right::before {
  left: -.4em;
  rotate: 135deg;
}
