/*SCedit*/
#sc-edit {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  max-width: 60vw;
gap: .5em;
padding: .5em;
}
#sc-edit label {text-align : center;padding: .5em;}
#sc-edit > * {display: grid;}

#sc-edit input, #sc-edit textarea {
  background-color: #111;
}
#sc-edit-left {
  height: fit-content;
  align-self: end;
}

#sc-edit-right {
  background-color: #222;
  padding: .5em;
  border: 1px solid #444;
}

#sc-edit-right>div {
  display: grid;
  grid-auto-flow: column;
}

#sc-edit-input {
  min-height: 30vh;
}

#sc-edit-title {
  margin: 0;
  text-align: center;
}

#sc-edit-title::before {
  content: 'Passage : ';
  text-align: center;
}
/*SCedit*/