#ui-dialog-body.checkvars {max-width : 85vw}
.checkvarsHeader {display: flex;gap: .5em;justify-content: space-evenly;}
.variablesWrapper {width: 100%;margin-top: .5em;white-space: break-spaces;}
.variablesWrapper > tr:not(:last-child) {border-bottom: .1em solid #444;}
.variablesWrapper th {text-align: center;}
.variablesWrapper td:first-child {width: 25%;border-right: .1em solid #444;text-align: end;vertical-align: initial;padding: .5em 1em;font-weight: bold;}
.variablesWrapper td:last-child {width: 75%;}
.variablesWrapper > tr > td {padding: .2em;}
.variablesWrapper span[contenteditable] {border: 1px solid #444;padding: .25em;font-family: monospace;margin: .1em;display: inline-block;word-break: break-all;}
.variablesWrapper button::after {content: attr(data-text);}
