area[disabled] {
  cursor: not-allowed;
}

.image-map-wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.image-map-wrapper img[usemap] {
  width: inherit;
  height: inherit;
}

/* map layers */
img.image-map-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
}

/* overlays and hover elements */
.area-hover,
.area-overlay,
.point-marker {
  position: absolute;
  pointer-events: none;
}

.area-hover.circle,
.area-overlay.circle,
.point-marker {
  border-radius: 100%;
}

.area-hover {
  display: none;
  /* only shows on hover*/
  z-index: 15;
  background-color: #ff00004a;
}

.area-hover.disabled {
  filter: grayscale(1);
}

.area-overlay {
  z-index: 10;
}

.area-hover img,
.area-overlay img {
  width: 100%;
}

.point-marker {
  background-color: #bf0000;
  outline: 2px solid #bf0000;
  outline-offset: 3px;
  box-shadow: 0 0 5px 5px black;
}

/* .hover is added in JS, it is not the :hover pseudo-class */
.point-marker.hover {
  background-color: red;
  outline-color: red;
}