/* <<drag>> element */

.macro-drag {
  min-height: 4em;
  min-width: 4em;
  border: .15em solid #333;
  cursor: grab;
  user-select: none;
  background-color: #111;
  padding: .25em;
  position: relative;
  max-width: fit-content;
}

.macro-drag:active {cursor:grabbing}

.macro-drag.touchActive, .macro-drag:hover {
  scale: 110%;
  z-index: 10;
  box-shadow: 0 0 .5em .5em black;
  transition: .2s;
  border-color: revert;
}

/* Quantity number */

.macro-drag[data-quantity]::after {
  content: attr(data-quantity);
  position: absolute;
  bottom: 0;
  right: .4em;
}

/* Drop */

.macro-drop {
  min-height: 5em;
  min-width: 5em;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  border: .15em solid #444;
  width: fit-content;
  padding: .5em;
  gap: .5em;
  margin: .5em;
  background: repeating-linear-gradient( 45deg, black, black .5em, #444 1em, #444 1em);
  box-shadow: 0 0 .25em .5em black inset;
  position: relative;
}

.macro-drop.destroy {
  transition:.2s;
  border-color: firebrick;
  box-shadow: 0 0 .5em .25em red;
}

/* Overlays */

.macro-drop::after, .macro-drop::before {
  position: absolute;
  z-index: 2;
  display: grid;
  place-items: center;
  left: 0; top: 0;
  height: 100%; width: 100%;
  font-size: 1.4em;
  pointer-events: none;
  color: #666;
  text-shadow: 0 0 .2em black, 0 0 .3em black, 0 0 .4em black, 0 0 .5em black;
  opacity: 0;
  text-transform: capitalize;
  transition: .2s;
}

/* Slots display */
.macro-drop[data-slots]::before {
content: attr(data-slots);
  opacity: 1;
  top: unset;
  height: fit-content;
  bottom: -25%;
  z-index : 4;
}

/* With icons */

.macro-drop.dropPossible::after, .macro-drop.dropForbidden::after {outline: 2px solid; opacity:1}

.macro-drop.dropForbidden::after {color: red; content: '⦸';font-size: 2em}

.macro-drop.dropPossible::after {color: lime}
.macro-drop.dropPossible::after {content: '⭣';color: lime}
.macro-drop.dropPossible[data-drop=none] {border-color: #444;}
.macro-drop.dropPossible[data-drop=none]::after {content: '⭘';color: #444;}
.macro-drop.dropPossible[data-drop=replace]::after {content: '⧄⊠⧅';font-size: 1.25em}
.macro-drop.dropPossible[data-drop=replaceAll]::after {content: '⊠⊠⊠';font-size: 1.25em}
.macro-drop.dropPossible[data-drop=append]::after {content: '⭢'}
.macro-drop.dropPossible[data-drop=prepend]::after {content: '⭠'}
.macro-drop.dropPossible[data-drop=swap]::after {content: '⥯'}
.macro-drop.dropPossible[data-drop=remove] {border-color: darkorange}
.macro-drop.dropPossible[data-drop=remove]::after {content: '♺';color: darkorange}

/* With explicit names */

.macro-drop.explicit::after {font-size: .8em !important}
.macro-drop.explicit.dropForbidden::after {content: 'Forbidden'}
.macro-drop.explicit.dropPossible::after {content: 'Anywhere';}
.macro-drop.explicit.dropPossible[data-drop=none]::after {content: 'No effect';color: #444;}

.macro-drop.explicit.dropPossible[data-drop=replaceAll]::after {content: 'Replace all'}

.macro-drop.explicit.dropPossible[data-drop=replace]::after, .macro-drop.explicit.dropPossible[data-drop=append]::after, .macro-drop.explicit.dropPossible[data-drop=prepend]::after, .macro-drop.explicit.dropPossible[data-drop=swap]::after, .macro-drop.explicit.dropPossible[data-drop=remove]::after {content: attr(data-drop);}
